:root {
	--colorBtn: #3fbf83;
	--shadowMain: 5px 5px 10px 5px rgba(0, 0, 0, .12);
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.applogo {
	height: 25vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
#Dropdown-disabled {
	background-color: red;
	color: red;
}
.myControlClassName {
	background-color: red;
	color: red;
}

.page-footer div {
	display: flex;
	flex-direction: coloumn-reverse;
	justify-content: space-evenly;
	color: white;
	text-align: center;
	margin-bottom: 5%;
	margin-top: 3%;
}

.page-footer p {
	text-align: center;
	margin-bottom: 5%;
	background: #121212;
}

/*
text box css styling below:
*/
.navLogIn {
	color: rgba(255, 255, 255, 0.90);
	background-color: rgb(0, 0, 0, 0);
	text-transform: uppercase;
	font-weight: 500;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	margin-right: 20px;
	cursor: pointer;
}

.navStart {
	color: grey;
	background-color: rgba(255, 255, 255, 0.80);
	border-bottom-color: rgb(0, 0, 0);
	border-bottom-style: none;
	border-left-color: black;
	border-right-color: black;
	border-top-color: black;
	box-sizing: border-box;
	font-weight: 900;
	text-transform: uppercase;
	white-space: nowrap;
	transition-delay: 0s, 0s, 0s;
	transition-duration: 0.3s, 0.1s, 0.1s;
	margin-right: 20px;
	border-radius: 2px;
}
.navStart:hover {
	background-color: rgba(255, 255, 255, 0.90);
	color: #24292e;
}

.note-component {
	margin: 10px auto 10px;
}
.note-editor {
	color: rgb(17, 17, 17);
	max-width: 740px;
	background-color: rgb(255, 255, 255);
	box-shadow: var(--shadowMain);
	padding: 30px;
	margin: 65px auto 45px;
	border-radius: 4.5px;
}

.code-editor {
	color: rgb(17, 17, 17);
	max-width: 740px;
	height: 150%;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 5px 0px rgba(148, 81, 81, 0.20);
	padding: 30px;
	margin: 10px auto 10px;
	border-radius: 4.5px;
}

.format-toolbar {
	display: flex;
	border-bottom: solid 1.7px;
	padding: 10px 0;
	margin: 0 0 10px 0;
}

.tooltip-icon-button {
	border: 0;
}

.main-page {
	display: grid;
	height: 92vh;
	grid-template-columns: 1fr 4fr;
	grid-gap: 3%;
	margin-top: 15px;
}

.user-profile {
	display: flex;
	flex-direction: column;
}

nav {
	background-color: #24292e;
	height: 45px;
	display: flex;
	flex-direction: row-reverse;
	text-align: center;
	justify-content: flex-start;
}

#devNote {
	height: 20px;
}

#card-title {
	background: #fff;
	font-size: 30px;
	text-align: center;
	color: #24292e;
	font-weight: 400;
}
.card-content {
	color: #24292e;
	border-top: 3px solid #28b485;
}

.userNote {
	background: none;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	color: #24292e;
	padding: 10px 20px;
	margin: 1rem 0;
	transition: all 0.1s;
}

.userNote:hover {
	background-image: linear-gradient(to right bottom, #28b485, #7ed56f);
	color: #fff;
}

.userNote:hover .icon {
	color: #fff;
}
.icon {
	color: var(--colorBtn);
	margin-right: 7px;
	transition: all .1s;
}

#icon-user {
	margin-right: 7px;
}

#userDetails {
	margin: 15px 0;
	font-size: 16px;
	font-weight: 400;
}

.btn-floating halfway-fab waves-effect waves-light black {
	color: rgb(224, 224, 224);
}

.note-title {
	font-family: fantasy;
}
.note-title::placeholder {
	opacity: .8;
	color: #777;
}

.code-title {
	font-family: fantasy;
}
.code-title::placeholder {
	opacity: .8;
	color: #777;
}

.code-and-note {
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	grid-gap: 3%;
}

.login-card {
	width: 500px;
	height: 50vh;
	padding: auto;
	color: #24292e;
	border-radius: 4px;
	box-shadow: var(--shadowMain);
	display: block;
	margin: auto;
}

.loginForm {
	width: 90%;
	height: 100%;
	margin: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
#loginInput {
	background: none;
	width: 100%;
	color: #24292e;
	margin: 10px 0;
	padding: 7px 0;
}
#loginInput:first-child {
	margin-top: 20px;
}
#loginInput::placeholder {
	opacity: .8;
	color: #777;
}

.loginBtn {
	text-decoration: none;
	text-transform: uppercase;
	padding: 8px 35px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	background: var(--colorBtn);
	color: #fff;
	font-weight: 400;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
	transition: transform .25s;
	outline: none;
	margin: 25px 0 35px 0;
}

.loginBtn:hover {
	transform: translateY(-2px);
	box-shadow: 0 5px 9px rgba(0, 0, 0, .11);
}
.loginBtn:active {
	transform: translateY(0);
	box-shadow: 0 5px 9px rgba(0, 0, 0, .14);
}

.create-account {
	width: 500px;
	height: 50vh;
	padding: auto;
	color: #24292e;
	display: block;
	margin: auto;
	box-shadow: var(--shadowMain);
}

.create-acount--2 {
	height: 60vh;
}

.handleSignIn {
	font-size: 40px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 25vh;
}

.handleSignIn h6 {
	color: lightgrey;
}

.note-options {
	float: right;
}

#setting {
	float: right;
	margin-right: 20px;
	color: var(--colorBtn);
	transition: transform .1s;
	backface-visibility: hidden;
}

#setting:hover {
	transform: scale(1.12);
}

.note-options button {
	border: 0px;
	color: #24292e;
}

/* #code-btn {
	float: right;
	background-color: black;
	color: aliceblue;
	font-size: 10px;
	font-family: monospace;
	height: 40px;
} */

.code-btn {
	-moz-box-shadow: inset 0px -5px 5px 0px #ffffff;
	-webkit-box-shadow: inset 0px -5px 5px 0px #ffffff;
	box-shadow: inset 0px -5px 5px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
	background-color: #ffffff;
	-moz-border-radius: 24px;
	-webkit-border-radius: 24px;
	border-radius: 24px;
	display: inline-block;

	cursor: pointer;
	color: #a1a1a1;
	font-family: Courier New;
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
	padding: 12px 12px;
	text-decoration: none;
	text-shadow: 0px 4px 12px #ffffff;
	float: right;
}
.code-btn:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background: -moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background: -webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background: -o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background: -ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff', GradientType=0);
	background-color: #f6f6f6;
}
.code-btn:active {
	position: relative;
	top: 2px;
}

/* 
button {
	-moz-box-shadow: inset 0px 1px 0px 0px #fbafe3;
	-webkit-box-shadow: inset 0px 1px 0px 0px #fbafe3;
	box-shadow: inset 0px 1px 0px 0px #fbafe3;
	background-color: #f089b2;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #f5f5f5;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Trebuchet MS;
	font-size: 15px;
	font-style: italic;
	padding: 6px 13px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #c70067;
}
button:hover {
	background-color: #d13689;
}
button:active {
	position: relative;
	top: 1px;
} */
